/*td .fc-widget-content .fc-public-holiday{
    background-color:red !important;
}

.o_timeoff_calendar .o_calendar_renderer .o_calendar_widget .fc-sat{
    background-color:red !important;
}
.o_timeoff_calendar .o_calendar_renderer .o_calendar_widget .fc-sun{
    background-color:red !important;
}
.o_timeoff_calendar .o_calendar_renderer .o_calendar_widget .fc-public-holiday{
    background-color:red !important;
}*/

td.fc-day.fc-widget-content.fc-public-holiday{
    background-color:red !important;
}

td.fc-day.fc-widget-content.fc-sat{
    background-color:red !important;
}

td.fc-day.fc-widget-content.fc-sun{
    background-color:red !important;
}